{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">

<head>
    {% block head %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELR5QJ5CKK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ELR5QJ5CKK');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

    <title>{% block htmltitle %}{{ config.title }}{% endblock htmltitle %}</title>
    <meta name="description" content="{{ config.description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) }}">
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:description" content="{{ config.description }}">
    {% if config.extra.banner %}
    <meta property="og:image" content="{{ get_url(path=config.extra.banner) }}">
    {% endif %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ current_url | default(value=config.base_url) }}">
    <meta property="twitter:title" content="{{ config.title }}">
    <meta property="twitter:description" content="{{ config.description }}">
    {% if config.extra.banner %}
    <meta property="twitter:image" content="{{ get_url(path=config.extra.banner) }}">
    {% endif %}

    <link rel="canonical" href="{{ current_url | default(value=config.base_url) }}">

    {% if config.generate_feeds %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
    {% endif %}
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="section" id="splash">
        {% if config.extra.sam_menu %}
        {% for link in config.extra.sam_menu %}
        <div class="big-link">
            <a href="{{ link.link }}">
                {{ link.text }}
            </a>
        </div>
        {% endfor %}
        {% else %}
        {% for current in section.subsections %}
        {% set current = get_section(path=current) %}
        <div class="big-link">
            <a href="{{ current.permalink }}">
                {{ macros::title_or_last(component=current) }}
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endblock body %}
</body>

</html>